# EXE directory
specs/exe/

# Work directory
specs/work

# Eclipse files, assuming the eclipse root is in the src directory
specs/src/.cproject
specs/src/.project
specs/src/.settings/

# Generated Makefile
specs/src/Makefile

# object and dependency file
specs/src/*/*.d
specs/src/*/*.o
specs/src/*/*.obj

# the compressed manpage
specs/src/specs.1.gz

# the tests temporary files
specs/tests/__pycache__
specs/tests/cmd.out
specs/tests/valgrind.out
specs/tests/theinp
specs/tests/theinp2
specs/tests/theout 
specs/tests/thespec
specs/tests/theconf
specs/tests/memcheck.pyc
specs/tests/input_samples.pyc
