# EXE directory
specs/exe/

# Work directory
specs/work

# Eclipse files, assuming the eclipse root is in the src directory
specs/src/.cproject
specs/src/.project
specs/src/.settings/

# object and dependency file
specs/src/*/*.d
specs/src/*/*.o

