#include <winres.h>

#define STRINGIFY2(x) #x
#define STRINGIFY(x) STRINGIFY2(x)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SPEC_FILE_VERSION
 PRODUCTVERSION SPEC_FILE_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Yoav Nir"
            VALUE "FileDescription", SPEC_FILE_DESCRIPTION
            VALUE "FileVersion", SPEC_PRODUCT_VERSION
            VALUE "InternalName", SPEC_PRODUCT_NAME
            VALUE "LegalCopyright", SPEC_COPYRIGHT
            VALUE "OriginalFilename", "specs.exe"
            VALUE "ProductName", SPEC_PRODUCT_NAME
            VALUE "ProductVersion", SPEC_PRODUCT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
